body{
	margin:0;
	background:#2d98da;
	font-family: 'Rajdhani',sans-serif;
	color: #ffffff;	
	font-weight: 400;
	text-align: center;
}


.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	
}

.center div{
	font-size: 18px;
	line-height: 1.2;
}

.footer {
	position: absolute;
    bottom: 2%;
	font-size: 14px;
	
}
